.main{
	width: 300px;
	margin: auto;
	border: 2px solid red;
	position: relative;
	overflow: hidden;
	float: left;
	margin: 20px;
}

		

.content{
	height: 300px;
	background: green;
	position: absolute;
	transition: 0.1s;
	top: 100%;
}
.content p{
	text-align: center;
}
.main:hover .content{
	top: 0px;
}
