* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to bottom right, rgb(129, 193, 129), blue); */
}

:root {
  font-size: 10px;
}

button.btn {
  padding: 10px 25px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.8s;
}

.btn1 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn2 {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn1:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.btn2:hover {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
