/* 
    percentages are relative units. They are always relative to something.
    However, that something always changes according to the property of concern.

    For example, when we say width = 50%, it means that we want width to be 50 % of the
    width of the parent container.

    But on the other hand, if we say line-height = 50%, it means that 50 % of element's
    font size.

    So, it really depends on the property of concern.
*/

/* 
    Margins & Paddings
    ==================
    When we use percentage for margins and paddings, then it is relative to the width of the parent.
*/

.parent {
    width: 600px;
    height: 500px;
    background-color: rgb(238, 238, 124);
}

.child {
    width: 10%; /*60px*/
    height: 20%; /*100px*/
    margin: 15%; /*90px*/ /*but 90px from where ??*/
    background-color: rgb(58, 110, 58);
}