.main{
	width: 300px;
	margin: auto;
	position: relative;
}

.content{
	height: 300px;
	background: gray;
	position: absolute;
	top: 0px;
	opacity: 0;
	transition: 2s all;
}

.main:hover .content{
	opacity: 1;
	background: lightcoral;
}

