/* 
    absolute
    ========
    1. Element is removed from the normal document flow, and is now relative to nearest parent
        element with an explicit position property(i.e non-static position value).
    
    2. If no parent has a position property other than default(static), then it is taken relative 
        to the root container.
    
    3. No space is left where it used to be !

    4. top, right, bottom, left and z-index can be used to scoot the element further.
*/

/* 
    HTML code
    =========
    <div class="box1">
        <div class="box2">
            <span>Hi</span>
        </div>
    </div>
*/

/* CSS code */
.box1 {
    background-color: #F44336;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 40px;
    left: 90px;
}

.box2 {
    background-color: #345676;
    width: 50px;
    height: 50px;

}

/* 
    span will take position relative to the nearest positioned ancestor which in this case is div.box1 
*/

span {
    background-color: orchid;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}